@mixin _1300 {
    @media screen and (max-width:1300px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}




.ProductPage {
    background-color: white;
    display: flex;
    margin-top: 50px;

    @include _883(){
        flex-direction: column;
        
    }
}

.ProductPage_info {
    display: flex;
    flex-direction: column;
    @include _883{
        align-items: center;
    }
    &_title {
        letter-spacing: 1px;
        font-size: 48pt;
        @include _883(){
            font-size: 32pt;
        }
    }

    &_article {
        color: rgb(124, 121, 121);
    }
    &_price{
        font-size: 18pt;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 20px 0px;
    }
    &_order{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_counter{
        margin-bottom: 5px;
        &_button_minus, &_button_plus{
            width: 30px;
            height: 30px;
            font-size: 14pt;
            border: none;
            color: white;
            background-color: rgb(17, 118, 136);
            border-radius: 12px;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            &:hover{
                background-color: rgb(10, 70, 81);
            }
        }
        &_amount{
            font-size: 14pt;
            padding: 0px 10px;
        }
        
    }
    &_note{
        color: rgb(124, 121, 121);
        margin: 10px 0px;
    }
    &_body{
        font-size: 18pt;
        width: 50vw;
        @include _883(){
            width: 100%;
            padding: 0px 20px;
            font-size: 14pt;
            
        }
    }
}

.ProductPage_imageContainer {
    width: 600px;
    @include _883(){
        width: 300px;
        align-self: center;
    }
    &_placeholder {
        width: 600px;
        @include _883(){
            width: 300px;
        }
    }
}
.cross{
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: 40%;
    transition: ease-in-out 0.3s;
}
.cross:hover{
    opacity: 60%;
}
.cross img{
    width: 25px;
}