@mixin _1300 {
    @media screen and (max-width:1300px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}


.inactive{
    display: none;
}
.active_product{
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active_cart{
    position: absolute;
    border:2px solid rgb(26, 159, 183);
    background-color: white;
    top: 130px;
    bottom: 0;
    right: 10px;
    height: 500px;
    width: 450px;
    border-radius: 12px;
    @include _883(){
        width: 300px;
    }
}
.active_search{
    background-color: white;
    border: 2px solid rgb(26, 159, 183);
    border-radius: 12px;
    position: absolute;
    top:180px;
    right:515px;
    width:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 400px;
    float: center;
    padding: 20px;
}
