@mixin _1300 {
    @media screen and (max-width:1300px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}






.button_registry{
    background-color: rgb(88, 136, 16);
    color: white;
    letter-spacing: 1px;
    padding: 10px 30px;
    font-size: 20pt;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: ease-in-out 0.3s; 
    cursor: pointer;
}
.button_registry:hover{
   background-color: rgb(143, 3, 3);
}
.button_registry:active{
    background-color: rgb(88, 136, 16);
}
.button_form{
    height: 32px;
    width: 90px;
    background-color: rgb(26, 159, 183);
    color: white;
    letter-spacing: 1px;
    font-size: 12pt;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 0px 12px 12px 0px ;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    @include _883(){
        border-radius: 12px;
        width: 100%;
        margin-top: 5px;
    }
}
.button_form:hover{
    background-color: rgb(23, 125, 143);
 }
 .button_form:active{
    background-color: rgb(26, 159, 183);
 }
 
 .button_hemohim{
    height: 5vh;
    width: 50%;
    background-color: #ff1f35;
    color: white;
    letter-spacing: 1px;
    font-size: 14pt;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    @include _883(){
        border-radius: 12px;
        width: 100%;
        margin-top: 5px;
    }
}
.button_hemohim:hover{
    background-color: #c93040;
 }
 .button_hemohim:active{
    background-color: #ff1f35;
 }
 
 .button_buy{
    height: 32px;
    width: 90px;
    background-color: rgb(26, 159, 183);
    color: white;
    letter-spacing: 1px;
    font-size: 12pt;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    @include _883(){
        border-radius: 12px;
        width: 100%;
        margin-top: 5px;
    }
}
.button_buy:hover{
    background-color: rgb(23, 125, 143);
 }
 .button_buy:active{
    background-color: rgb(26, 159, 183);
 }