@mixin _1300 {
    @media screen and (max-width:1300px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}


.main_page {
    display: flex;
    flex-direction: column;
}

/*Catalog block*/
.catalog_new {
    
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 12px;
    padding-bottom: 100px;

    @include _1300 {
       
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        padding-bottom: 20px;
    }
    @include _883{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
        padding-bottom: 20px;
    }
   
}


/*Registry block*/
.registry {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 80vh;
    background: url(../../assets/korean.jpg);
    padding-left: 40px;
    @include _500{
        background: url(../../assets/korrr.png);
        align-items: center;
        padding-left: 0px;
    }
}

.text_info {
    width: 50%;
    text-align: start;
    line-height: 120%;
    font-size: 14pt;
    @include _500(){
        width: 90%;
        text-align: center;
    }
}

.text_info,
.title,
.subtitle {
    padding-left: 10px;
    @include _500(){
        padding-left: 0;
    }

}

.subtitle {
    font-size: 18pt;
    @include _500{
        text-align: center;
    }
}

.line {
    height: 1vh;
    width: 100%;
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

.line2 {
    height: 1vh;
    width: 100%;
    background: linear-gradient(90deg, #d3ffe8, #aea4e3);
}



.info {
    display: flex;
    align-items: center;
    height: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    justify-items: center;

    &_title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 14pt;
        z-index: 1;
    }

    &_body {
        padding-top: 10%;
        z-index: 1;
    }
    @include _883(){
        flex-direction: column;
        height: 70vh;
    }
    @include _500(){
        height: 85vh;
    }
}

.how_to_order,
.delivery_from_korea,
.delivery_in_russia {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    @include _883{
        margin:20px;
    }
    @include _500(){
        margin: 10px;
    }
}

.korean_img {
    position: absolute;
    z-index: 0;
    opacity: 10%;
    width: 150px;
    align-self: center;
}