@mixin _1300 {
    @media screen and (max-width:1300px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}




.CartWindow {
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 20px;

}
.Close{
    margin: 5px;
    text-align: right;
    border-bottom: 1px dashed rgb(26, 159, 183);
    cursor: pointer;
    user-select: none;
    transition:  ease-in-out 0.3s;
    &:hover{
        color: rgb(26, 159, 183);
    }
}
.cart{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px dotted rgb(26, 159, 183);
    &_title{
        font-size: 12pt;
        letter-spacing: 1px;
        font-weight: bold;
        color: rgb(26, 159, 183);
        @include _883{
            font-size: 10pt;
        }
    }
    @include _883(){
        height: 80px;
    }
}
.empty{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: rgb(26, 159, 183);
    border-bottom: 1px dotted rgb(26, 159, 183);
}
.sum{
    color: rgb(122, 122, 122);
    @include _883(){
        font-size: 8pt;
    }
}