@mixin _1300 {
    @media screen and (max-width:1326px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}




ul{
    display: flex;
    list-style-type: none;
    justify-content: center;  
    letter-spacing: 1.5px;
    gap: 20px;
    font-size: 12pt;
    padding: 0px 20px;
    @include _883(){
        flex-direction: column;
    }
}
li{
    user-select: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-bottom: 1px dashed rgb(26, 159, 183);
   text-align: center;
    @include _1300(){
        font-size: 10pt;
    }
}
li:hover{
    color: rgb(26, 159, 183);
    
}

nav{
padding-top: 2%;
padding-bottom: 2%;
display: flex;
flex-direction: column;
align-items: center;
}
img{
    width: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}
.search{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    @include _883(){
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
}
.dropdown{
    background-color: rgb(26, 159, 183);
    height: 5vh;
    padding-left: 5px;
    border-radius: 12px;
    border: none;
    color: white;
}
.logo_dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include _883(){
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }
    
}
.NavLink{
    color: black;
    text-decoration: none;
}