@mixin _1300 {
    @media screen and (max-width:1300px) {
        @content
    }
}

@mixin _883 {
    @media screen and (max-width:883px) {
        @content
    }
}

@mixin _500 {
    @media screen and (max-width:500px) {
        @content
    }
}

.Input {
    height: 40px;
    padding-left: 10px;
    width: 320px;
    border-radius: 12px;
    border: 2px solid rgb(26, 159, 183);
    outline: none;
    font-size: 12pt;
    overflow: hidden;

    &_form {
        height: 50px;
        padding-left: 10px;
        width: 450px;
        border-radius: 12px;
        border: 2px solid rgb(26, 159, 183);
        outline: none;
        font-size: 14pt;
        overflow: hidden;

        @include _500() {
            width: 300px;
        }
    }
}