.line {
    height: 1vh;
    width: 100%;
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

.line2 {
    height: 1vh;
    width: 100%;
    background: linear-gradient(90deg, #d3ffe8, #aea4e3);
}

