.button_registry{
    background-color: rgb(88, 136, 16);
    color: white;
    letter-spacing: 1px;
    padding: 10px 30px;
    font-size: 20pt;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: ease-in-out 0.3s;
}
.button_registry:hover{
    opacity: 80%;
}
.button_registry:active{
    opacity: 100%;
}